# --------------------------------------------------------
# Create settings.cfg and updated your settings
# --------------------------------------------------------

# Settings

# Location of git repositories
DEST_FOLDER="/My/Git/Repositories"

# true/false. set to "false" to enable "git pull"
DEBUG_MODE="true"
