# --------------------------------------------------------
# Create settings.cfg and updated your settings
# --------------------------------------------------------

# Settings

# Array of folders containing multiple git repositories
DEST_FOLDERS=("/My/Public/Repositories" "/My/Private/Repositories")

# true/false. set to "false" to enable "git pull"
DEBUG_MODE="true"
